.nav-color {
  background-color: rebeccapurple;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: lightgrey;
}

.link-active {
  text-decoration: none;
  color: gold;
}

.link-active:hover {
  color: yellow;
}
